<section class="at-news-fragment my-5">
  <div class="container container-print">
    <h2 class="mb-3 h1 font-weight-bold"
        data-lfr-editable-id="mainTitle"
        data-lfr-editable-type="text">
      Actualidad
    </h2>
    <div class="row">
      [#-- Column 1 --]
      <div class="col-lg-4">
        <h3 data-lfr-editable-id="column1Title" data-lfr-editable-type="text">
          ${configuration.column1Title!'Novedades destacadas'}
        </h3>
        <ul class="list-unstyled">
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-11" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col1Item1Date" data-lfr-editable-type="text">
              11/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col1Item1Link" data-lfr-editable-type="link">
              Publicación de copia del informe del Conflicto nº 21.
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-09" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col1Item2Date" data-lfr-editable-type="text">
              09/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col1Item2Link" data-lfr-editable-type="link">
              Medidas en materia de tributación
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-04" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col1Item3Date" data-lfr-editable-type="text">
              04/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col1Item3Link" data-lfr-editable-type="link">
              Publicación de copia de los informes de los Conflictos nº 20
            </a>
          </li>
        </ul>
        <a class="h5 d-block text-center my-3"
           href="${configuration.column1ViewAllLink!'#'}"
           data-lfr-editable-id="column1ViewAllLink"
           data-lfr-editable-type="link">
          ${configuration.column1ViewAllText!'Todas las novedades'}
        </a>
      </div>

      [#-- Column 2 --]
      <div class="col-lg-4">
        <h3 data-lfr-editable-id="column2Title" data-lfr-editable-type="text">
          ${configuration.column2Title!'Notas de prensa'}
        </h3>
        <ul class="list-unstyled">
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-17" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col2Item1Date" data-lfr-editable-type="text">
              17/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col2Item1Link" data-lfr-editable-type="link">
              Desmantelada en Cataluña una 'macrofábrica' de perfumes falsos
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-09" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col2Item2Date" data-lfr-editable-type="text">
              09/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col2Item2Link" data-lfr-editable-type="link">
              Desarticulado un grupo criminal que introducía cocaína
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-06" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col2Item3Date" data-lfr-editable-type="text">
              06/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col2Item3Link" data-lfr-editable-type="link">
              Desarticulada una organización dedicada al tráfico de drogas
            </a>
          </li>
        </ul>
        <a class="h5 d-block text-center my-3"
           href="${configuration.column2ViewAllLink!'#'}"
           data-lfr-editable-id="column2ViewAllLink"
           data-lfr-editable-type="link">
          ${configuration.column2ViewAllText!'Todas las notas de prensa'}
        </a>
      </div>

      [#-- Column 3 --]
      <div class="col-lg-4">
        <h3 data-lfr-editable-id="column3Title" data-lfr-editable-type="text">
          ${configuration.column3Title!'Estadísticas'}
        </h3>
        <ul class="list-unstyled">
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-17" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col3Item1Date" data-lfr-editable-type="text">
              17/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col3Item1Link" data-lfr-editable-type="link">
              Estadística de matriculaciones de vehículos automóviles
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-17" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col3Item2Date" data-lfr-editable-type="text">
              17/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col3Item2Link" data-lfr-editable-type="link">
              Observatorio de márgenes empresariales
            </a>
          </li>
          <li class="position-relative mb-3">
            <time itemprop="dateCreated" datetime="2026-02-11" class="small font-weight-bold order-1"
                  data-lfr-editable-id="col3Item3Date" data-lfr-editable-type="text">
              11/febrero/2026
            </time>
            <a href="#" class="d-block stretched-link hoverlistado"
               data-lfr-editable-id="col3Item3Link" data-lfr-editable-type="link">
              Informe semanal de ventas diarias
            </a>
          </li>
        </ul>
        <a class="h5 d-block text-center my-3"
           href="${configuration.column3ViewAllLink!'#'}"
           data-lfr-editable-id="column3ViewAllLink"
           data-lfr-editable-type="link">
          ${configuration.column3ViewAllText!'Últimas estadísticas publicadas'}
        </a>
      </div>
    </div>
  </div>
</section>
