<section class="at-hero-fragment" style="background-image: url('${configuration.backgroundImageUrl!"[resources:hero-background.jpg]"}');">
  <div class="at-hero-content container">
    <h1 class="at-hero-title"
        data-lfr-editable-id="heroTitle"
        data-lfr-editable-type="text">
      ${configuration.heroTitle!'Infórmate y realiza tus gestiones con la Agencia Tributaria'}
    </h1>
    <div class="at-hero-description"
       data-lfr-editable-id="heroDescription"
       data-lfr-editable-type="rich-text">
      <p>Fácilmente, con seguridad y sin desplazarte</p>
    </div>
  </div>
</section>